@font-face {
    font-family: 'Gotham';
    src: url(src\assets\GothamBookRegular.otf) format("opentype");
    }
.modaleTiltle{
    h3{
        color: #05CBBF ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-family: Arial;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        
    }
}
.field-wrap,.body{
  
    label{
       color:  #707070;
       font-size: 12px;
       font-family: Arial;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       
    }
    
    input{
    height: 40%;
    width: 95%;
    }

    button{
        background-color: #05CBBF;
        color: white; 
        box-shadow: none;
        &:hover{
            background:gray;
        }
     }
     textarea{
        width:95%;
     }
    
    height: 10%;
}
.Format-hedder{
    width: 96%;
   
    .text-format{
        width: 18%;
        margin-bottom: 1%;
        background-color: #f5f5f5;
    button
    {

        background-color: unset;
        color:unset; 
        border: none;
        &:hover{
            background:unset;
        }

        mat-icon{
            height: 13px;
            width: 4px;
            font-size: 15px;
            margin-top: 9%;
        }
        
            padding: 0;
            min-width: 16px;
        
    }
}

    
}


