
<div class="page"   >
  <mat-card fxFlex="35" class="form"  >

    <div >   
      <h1>Welcome Back</h1>
      
      <form >
      
        <div class="field-wrap">
          <h2>
            We have sent you an email with a password reset link
            Sometimes these mails end up in the spam folder. 
            But if you did not receive the email, please contact 
            support@atharva.com.
          </h2>
    
      </div>
      
      
            </form>

    </div>
  </mat-card>
</div>
