@font-face {
  font-family: 'Gotham';
  src: url(src\assets\GothamBookRegular.otf) format("opentype");
  }

.page{
  height: 100vh;
}

table {
  width: 100%;
}

mat-drawer{
  width: 14%;
  background-color: #3e525d;
 scrollbar-color:red ;
  //margin-right: 90px;
//  height: 100%;
}
.mat-drawer-inner-container{
  overflow: hidden !important;
}


  

mat-drawer-container{
  padding-left: 0;
  font-family: Gotham;

}
mat-drawer-content{
  font-family: Gotham;

  padding-left: 0%;
}

.mat-divider{
  font-family: Gotham;

  height: 0;
   margin-left:  5%;
   margin-right: 5%;
   width: 85% ;
   border-top-color: #def3ff;
 padding-bottom: 10%;;
 }

 .mat-checkbox{

  font-family: Gotham;
  font-size: 100%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.21px;
  text-align: left;
  color: #def3ff;
 
}

.px-80 mat-paginator {
  font-family: Gotham;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 45px;
  padding-bottom: 16 px;
  flex-wrap: wrap-reverse;
  width: 100%;
  color: #050101;
  font-size: 14px;
}

.close-button{
  margin-top: 150%;
  font-family: Gotham;

}

.close-button button{
  font-size: 100%;
 
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.29px;
  text-align: left;
  color: #def3ff;

  font-weight: normal;
  font-stretch: normal;
 
  font-family: Gotham;

}
h1 {
 
  font-family: Gotham;
  font-size: 120%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.29px;
  text-align: left;
  color: #def3ff;
}

.mt-tbl-chked{
  font-family: Gotham;
  
width:50px;
color: #05CBBF;
}
.mt-tbl-userid{
  font-family: Gotham;
text-align: left;
}
.mt-tbl-fname ,.mt-tbl-lname{
  font-family: Gotham;
text-align: center;
}
.pt-3{
  font-family: Gotham;
padding-top: 3rem;
}
.mb-3{
  font-family: Gotham;
margin-bottom: 3rem;
}
.m-3{
  font-family: Gotham;
margin: 3rem!important;

}
.m-1{
  font-family: Gotham;
margin: 1rem;
}
.search-input{
  font-family: Gotham;
float: right;
padding-right: 20vw;
min-width: 300px;
}
.component-title
{
  font-family: Gotham;
padding-left: px;
width: 111px;
height: 27px;
font-family: Arial;
font-size: 24px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.17;
letter-spacing: 0.36px;
text-align: left;
color: #3e525d;
}
.px-80{
  font-family: Gotham;
padding-left: 80px;
padding-right: 80px;
}
.mat-row{
  font-family: Gotham;
background: white;

&:hover{
  font-family: Gotham;
  background:#f5f5f5;
}
}
td.mat-cell,th{
  font-family: Gotham;
border-bottom: 0px;
border-bottom-width: 0px!important;
}
.mat-row{
  font-family: Gotham;
background: white;

&:hover{
  font-family: Gotham;
  background:#f5f5f5;
}

}

table tr:nth-child(odd) td
{background-color: #f2f2f2;}

.filtter{
  body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow: hidden;
    
  
  }
  .mat-nav-list{
    overflow: hidden; 
   
  }
  h1 {
     
    font-family: Gotham;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: 0.29px;
      text-align: left;
      color: #def3ff;
  }   
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
      background-color: white;
    }
    
  
  ::-webkit-scrollbar {
    display: none;
    }
    
    .example-margin{
     
      font-family: Gotham;
      font-size: 11px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 0.21px;
      text-align: left;
      color: #def3ff;
     
    }
  
  
    .POstatus{
      font-family: Gotham;
  
      padding-top: 10%;
      padding-bottom: 10%;
      margin-left:  5%;
  
    }
   
   .Vendor{
    overflow: hidden;

    font-family: Gotham;
  
    // padding-bottom: 100%;
      h1{margin-left:  5%;}
  
      label{
          margin-left:  5%;
          font-size:14px ;
          color: #def3ff;
          font-weight: bold;
          font-family: Gotham;
    }
    select{
      margin-left:  5%;
      font-size:14px ;
      font-weight: bold;
      font-family: Gotham;
      width: 100px;
    }
  }
    
    .vendor_card{
      font-family: Gotham;
  
      label{
          margin-left:  5%;
          font-size: 12px;
          color: #000000;
          font-family: Gotham;
        }
      width:70% ;
      height: 40%;
      margin-left:  7%;}
  
  .Date{
      padding-top: 10%;
      }
  .period{
  height: fit-content;
  // margin-left:  5%;
  input{
  width: 40%;
  // margin-left:  2%;
  }
  
  }
  
  mat-raised-button{
    font-family: Gotham;
  
      width: 50%;
      margin-left:  2%;
      background-color: #05cbbf;
      border-radius: 5px;
      font-size: 11px;
      color: #ffffff;
  }
  
   mat-divider{
    font-family: Gotham;
  
     height: 0;
      margin-left:  5%;
      margin-right: 5%;
      width: 85% ;
      border-top-color: #def3ff;
      padding-bottom: 10%;;
    }
    .row{
      font-family: Gotham;
      
      flex:1;
    }
}

