@font-face {
  font-family: 'Gotham';
  src: url(src\assets\GothamBookRegular.otf) format("opentype");
  }
.page{
  height: 100vh;
}

table {
    width: 100%;
  }

    

.mt-tbl-chked{
  width:50px;
}

.mt-tbl-time{
  text-align: left;
}
.mt-tbl-userid{
  text-align: left;
}
.mt-tbl-fname ,.mt-tbl-lname{
  text-align: center;
}
.pt-3{
  padding-top: 3rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.m-3{
  margin: 3rem!important;

}
.m-1{
  margin: 1rem;
}


 mat-checkbox:checked{
   background-color: #05CBBF;;
    
  } 
.search-input{
  float: right;
  padding-right: 20vw;
  min-width: 300px;
  //max-width: 600px;
}
.px-80{
  padding-left: 80px;
  padding-right: 80px;
  
}
.component-title
{
  padding-left: px;
  width: 111px;
  height: 27px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.36px;
  text-align: left;
  color: #3e525d;
}
.mat-row{
  background: white;

  &:hover{
    background:#f5f5f5;
  }
}

::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
}



mat-drawer{
  width: 14%;
  background-color: #56646b;
  //margin-right: 90px;
//  height: 100%;
}
.px-80 mat-paginator {
  font-family: Gotham;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 45px;
  padding-bottom: 16 px;
  flex-wrap: wrap-reverse;
  width: 100%;
  color: #050101;
  font-size: 14px;
}


mat-drawer-container{
  padding-left: 0;
 
}
mat-drawer-content{
  padding-left: 0%;
}

main{
  padding: 10px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

td.mat-cell,th{
  border-bottom: 0px;
  border-bottom-width: 0px!important;
}
table tr:nth-child(odd) td
{background-color: #f2f2f2;}

.close-button{
  margin-top: 180%;
}

.close-button button{
  font-size: 100%;
 
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.29px;
  text-align: left;
  color: #def3ff;

  font-weight: normal;
  font-stretch: normal;
 
 
}



.mat-checkbox{
 
  
  font-size: 100%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.21px;
  text-align: left;
  color: #def3ff;
 
}


.vendor-time{
  padding-bottom: 20%;
  padding-top: 20%;
  margin-left:  5%;

}

.vendor-pay{
  margin-left:  5%;
}
.mat-divider{
 height: 0;
  margin-left:  5%;
  margin-right: 5%;
  width: 85% ;
  border-top-color: #def3ff;
padding-bottom: 10%;;
}
.row{
  flex:1;
}