

   <mat-nav-list>
    <div class="vendor-Name">
     <div><h1>Vendor Name: </h1></div>  
     <div><mat-checkbox class="example-margin">Nike</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Starbucks Beans</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">American Fuel</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Jessica's LLC</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Martino's Vienne Beef</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">New Balance</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Skiegen Cases</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Pastel's</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Steve's</mat-checkbox></div> 
     <div><mat-checkbox class="example-margin">Ramsey Motors</mat-checkbox></div> 

    </div>
     
     <mat-divider ></mat-divider>
  
     <div class="unit-cost">
     <div><h1>UNIT COST</h1> </div> 
       <div><mat-checkbox class="example-margin">$ 0 to $500</mat-checkbox></div> 
     <div> <mat-checkbox class="example-margin">$ 501 to $1000</mat-checkbox></div> 
      <div> <mat-checkbox class="example-margin">$ 1000 to $5000</mat-checkbox></div> 
      <div> <mat-checkbox class="example-margin">$ 5000 +</mat-checkbox></div> 
    </div>

    <mat-divider ></mat-divider>

    <div class="quantity">
        <div><h1>QUANTITY</h1> </div> 
          <div><mat-checkbox class="example-margin"> 0 to 500</mat-checkbox></div> 
        <div> <mat-checkbox class="example-margin">501 to 1000</mat-checkbox></div> 
         <div> <mat-checkbox class="example-margin">$ 1000 to $5000</mat-checkbox></div> 
         <div> <mat-checkbox class="example-margin">$ 5000 +</mat-checkbox></div> 
       </div>
       
       <mat-divider ></mat-divider>
       <div class="status">
        <div><h1>Status</h1> </div> 
          <div><mat-checkbox class="example-margin">Active</mat-checkbox></div> 
        <div> <mat-checkbox class="example-margin">Inactive</mat-checkbox></div> 
</div>
</mat-nav-list>

<!-- <div class="close-button">
  <button mat-button style="  color: #def3ff" (click)="togglesidbar()" >
    <mat-icon style="  color: #def3ff">keyboard_arrow_left</mat-icon>
    Collapse Menu
   
  </button>
</div> -->