@font-face {
  font-family: 'Gotham';
  src: url(src\assets\GothamBookRegular.otf) format("opentype");
  }
.page{
    height: 100vh;
  }
  
 
  .px-80{
    padding-left: 80px;
    padding-right: 80px;
    
  }
  .component-title
  {
    padding-left: px;
    width: 111px;
    height: 27px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.36px;
    text-align: left;
    color: #3e525d;
  }
 
  .userInfo{
    width: 40%;
       height: 40%;
  
       }

.companyinfo{
    margin: 5%;
 
}
h3{
   
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.36px;
    text-align: left;
    color: #3e525d;
}
.password{
    width: 40%;
    // margin-left: 2%;
}

 

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

mat-card{
  
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  
  margin: auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
  text-align: center;
 
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}



label {
  transform:translateY(6px);
  left:13px;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:10px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:12px;
  display:block;
  width:100%;
  height:100%;
padding:5px 5px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  margin-top:0 ;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}



.field-wrap {
  position:relative;
  margin-bottom:3%;
}


.top-row {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}



.button {
  border:0;
  outline:none;
  // border-radius:0;
  padding:15px 0;
  border-radius: 5px;
  background-color: #05cbbf;
   color: #ffffff;
  width:100%;
  font-size:10px;


  width: 100%;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:gray;
  }
}

.button-block {
  display:block;
  width:100%;
}




